<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue-2.5.17.js"></script>
    <title>Document</title>
</head>
<body>
   <div id="app">
        <label>
                <input type="text" v-model='id'>
                <input type="text" v-model='name'>
                <input type="button" value="添加" @click='add'>
            </label>
            <div v-for="person in list" :key="person.id">
                <input type="checkbox" />ID:{{person.id}} -- &nbsp;名字::{{person.name}}
            </div>
   </div>
   <script>
       var vm = new Vue({
           el:'#app',
           data:{
               list:[
                    {id:1,name:'马云'},
                    {id:2,name:'马画藤'},
                    {id:3,name:'马克思'},
                    {id:4,name:'马冬梅'}
               ],
               id:'',
               name:''
           },
           methods:{
               add(){
                //    push把一个元素添加到数组的尾部，并返回数组的新长度。
                //     unshift把一个元素添加到数组的开头，并返回数组的新长度。
                    this.list.push({id:this.id,name:this.name}); 
                }
           }
       })
   </script>
</body>
</html>