<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue-2.5.17.js"></script>
</head>
<body>
   <div id="app">
        <input type="text" v-model='firstname'>
        <input type="text" v-model='lastname'>
        <p>{{test()}}</p>
        <p>{{fullname}}</p>
        <p>{{test()}}</p>
        <p>{{fullname}}</p>
        <p>{{test()}}</p>
        <p>{{fullname}}</p>
   </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                firstname: '',
                lastname :''
            },
            methods:{
                test(){
                    console.log('methods');
                    
                    return this.firstname+this.lastname;
                }
            },
            computed:{
                fullname(){
                    console.log('computed');
                    
                    return this.firstname+this.lastname;
                }
            },
            watch:{
                firstname(){
                    console.log('姓发生了改变');
                    
                }
            },
            watch:{
                lastname(){
                    console.log('名发生了改变');
                    
                }
            }
           
        })
    </script>
</body>
</html>